chromadb==0.3.26
Flask==2.3.2
google_api_python_client==2.88.0
google_auth_oauthlib==0.4.6
hnswlib==0.7.0
matplotlib==3.7.1
numpy==1.23.5
python-dotenv==1.0.0
scikit_learn==1.2.2
sentence_transformers==2.2.2
slackclient==2.9.4
slackeventsapi==3.0.1
torch==2.0.1
tqdm==4.63.0
transformers==4.30.1
yt_dlp==2023.3.4
